<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Euge Creación</title>
    <link rel="stylesheet" href="/SRC/public/style.css">
</head>
<body>
    <header>
        <nav>
            <a href=""><img src=""></a> <!--logo-->
            <a href="">Registrarse</a>
            <a href="">Categorías</a>
            <a href="">Nosotras</a>
            <a href=""></a>
            <a href="">Contacto</a> <!--redes sociales, números, mails, caja de consultas...-->
        </nav>
    </header>
    <footer>
        <div><p>I love you LEONA</p></div>
    </footer>
</body>
</html>